/* @import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');

h1{
    font-family: Train One, cursive;;
    font-weight: 100;
    color:rgb(255, 255, 255);
}